"""CFFI cdef and set_source definitions for {{ spec.module }}."""

CDEF_SOURCE = """
{% for const in spec.constants.values() %}
#define {{ const.name }} ...
{% endfor %}

{% for table in spec.tables.values() %}
struct {{ table.name }} {
    uint64_t size;
    uint64_t capacity;

    {% for column in table.columns %}
    {% if column.type_ is scalar %}
    {{ column.type_ | c_type }}* {{ column.name }};
    {% else %}
    {{ column.type_ | c_type }}* {{ column.name }}[...];
    {% endif %}
    {% endfor %}
} ;

{% endfor %}

{% for table in spec.tables.values() %}
int {{ table.name }}_malloc(struct {{ table.name }} *obj, size_t capacity) ;
void {{ table.name }}_free(struct {{ table.name }} *obj) ;
void {{ table.name }}_zero(struct {{ table.name }} *obj) ;
int {{ table.name }}_read_csv(struct {{ table.name }} *obj, FILE *stream) ;
int {{ table.name }}_write_csv(struct {{ table.name }} *obj, FILE *stream) ;
int {{ table.name }}_print_csv(struct {{ table.name }} *obj) ;
int {{ table.name }}_scan_csv(struct {{ table.name }} *obj) ;

{% endfor %}
"""

SET_SOURCE_C_HEADER_SOURCE = """
    #include "{{ spec.module }}.h"
"""
